/* CSS declarations go here */
.printer {
    width: 200px;
    height: 200px;   
    float: left;
    top: 300px;
}

.printerDisplay { margin: 20px; display: inline-block;}

.status {
    font-size: 10px;
    position: relative;
    margin-top: 180px;
    margin-right: 80px;
    text-align: center;
}
.center { text-align: center; }
.left { horizontal-align: center; text-align: left;}
.highlight {background-color: yellow;}

